<div class="panel panel-primary">
    <div class="panel-heading">
        <h6 class='panel-title'>Living</h6>
    </div>

    <ul class="list-group">
        <li class="list-group-item">
            Capteurs
            <span class="label label-danger" ng-show='older(["TempLiving","HumLiving","LightLiving"])'>Old</span>
            <div class='pull-right'>
                <span class="temperature">{{items['TempLiving'].value|number:1}}{{items['TempLiving'].unit}}</span>
                <span class="humidity">{{items['HumLiving'].value|number:1}}{{items['HumLiving'].unit}}</span>
                <span class="light">{{items['LightLiving'].value}}{{items['LightLiving'].unit}}</span>
            </div>
        </li>
        <li class="list-group-item">
            Media Center
            <span class="computers"></span>
            <!-- <input type='checkbox' class='pull-right'> -->
            <switch ng-model='items["Htpc"].value' class='pull-right' on-switch='sendCommand("Htpc", "toggle")'/>
        </li>
        <li class="list-group-item">
            Lampes
            <div class="pull-right">
                <switch ng-model='items["LivLightLeft"].value' on-switch='sendCommand("LivLightLeft", "toggle")'/>
                <switch ng-model='items["LivLightRight"].value' on-switch='sendCommand("LivLightRight", "toggle")'/>
            </div>
        </li>
    </ul>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h6 class='panel-title'>Bureau</h6>
    </div>

    <ul class="list-group">
        <li class="list-group-item">
            Capteurs
            <span class="label label-danger" ng-show='older(["TempBureau","HumBureau","LightBureau"])'>Old</span>
            <div class='pull-right'>
                <span class="temperature">{{items['TempBureau'].value|number:1}}{{items['TempBureau'].unit}}</span>
                <span class="humidity">{{items['HumBureau'].value|number:1}}{{items['HumBureau'].unit}}</span>
                <span class="light">{{items['LightBureau'].value}}{{items['LightBureau'].unit}}</span>
            </div>
        </li>
        <!-- <li class="list-group-item">
            <div class="btn-group">
                <button class='btn btn-primary'><span class="glyphicon glyphicon-chevron-down"></span></button>
                <button class='btn btn-default'><span class="glyphicon glyphicon-stop"></button>
                <button class='btn btn-default'><span class="glyphicon glyphicon-chevron-up"></button>
            </div>
            Stores
        </li> -->
    </ul>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h6 class='panel-title'>Chambre</h6>
    </div>

    <ul class="list-group">
        <li class="list-group-item">
            Capteurs
            <span class="label label-danger" ng-show='older(["TempChambre","HumChambre","LightChambre"])'>Old</span>
            <div class='pull-right'>
                <span class="temperature">{{items['TempChambre'].value|number:1}}{{items['TempChambre'].unit}}</span>
                <span class="humidity">{{items['HumChambre'].value|number:1}}{{items['HumChambre'].unit}}</span>
                <span class="light">{{items['LightChambre'].value}}{{items['LightChambre'].unit}}</span>
            </div>
        </li>
                <li class="list-group-item">
            Lampes
            <div class="pull-right">
                <switch ng-model='items["ChambreLightLeft"].value' on-switch='sendCommand("ChambreLightLeft", "toggle")'/>
                <switch ng-model='items["ChambreLightRight"].value' on-switch='sendCommand("ChambreLightRight", "toggle")'/>
            </div>
        </li>
    </ul>
</div>
<!--
<div class="panel panel-primary">
    <div class="panel-heading">
        <h6 class='panel-title'>Cuisine</h6>
    </div>

    <ul class="list-group">
        <li class="list-group-item">
            Capteurs
            <div class='pull-right'>
                <span class="temperature">{{items['TempCuisine'].value|number:1}}{{items['TempCuisine'].unit}}</span>
                <span class="humidity">{{items['HumCuisine'].value|number:1}}{{items['HumCuisine'].unit}}</span>
                <span class="light">{{items['LightCuisine'].value}}{{items['LightCuisine'].unit}}</span>
            </div>
        </li>
        <li class="list-group-item">
            <form class='form-horizontal'>
                <div class="form-group">
                    <label class='col-sm-2'>Dimmer</label>
                    <p class="col-sm-2">Dimmer</p>
                    <div class="col-sm-5 pull-right">
                        <input class='form-control' type='range' min=0 max=100 />
                    </div>
                </div>
            </form>

        </li>
    </ul>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h6 class='panel-title'>Salle de bain</h6>
    </div>

    <ul class="list-group">
        <li class="list-group-item">
            Capteurs
            <div class='pull-right'>
                <span class="temperature">{{items['TempSdb'].value|number:1}}{{items['TempSdb'].unit}}</span>
                <span class="humidity">{{items['HumSdb'].value|number:1}}{{items['HumSdb'].unit}}</span>
                <span class="light">{{items['LightSdb'].value}}{{items['LightSdb'].unit}}</span>
            </div>
        </li>
    </ul>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h6 class='panel-title'>Extérieur</h6>
    </div>

    <ul class="list-group">
        <li class="list-group-item">
            Capteurs
            <div class='pull-right'>
                <span class="temperature">{{items['TempSdb'].value|number:1}}{{items['TempSdb'].unit}}</span>
                <span class="humidity">{{items['HumSdb'].value|number:1}}{{items['HumSdb'].unit}}</span>
                <span class="light">{{items['LightSdb'].value}}{{items['LightSdb'].unit}}</span>
            </div>
        </li>
    </ul>
</div>
 -->
