<table class="table table-striped table-hover center">
    <thead>
        <th>Name</th>
        <th>Type</th>
        <th>Value</th>
        <th>Last Update</th>
    </thead>
    <tbody>
        <tr ng-repeat="item in items">
            <td class="{{item.icon}}">{{item.name}}</td>
            <td>{{item.type}}</td>
            <td><a href='#/graph/{{item._id.$oid}}'>{{item.value|number}} {{item.unit}}</a></td>
            <td>
                <span tooltip="{{item.time|date:'medium'}}" am-time-ago='item.time'></span>
            </td>
            <td class='actions'>
                <span class="pull-right" show-on-hover>
                    <a class='btn btn-default btn-xs' href='#editItem/{{item.name}}'>Edit</a>
                    <a class='btn btn-danger btn-xs' href='' ng-click='delete(name)'>Delete</a>
                </span>
            </td>
        </tr>
    </tbody>
</table>
