div.login {
    padding:80px;
    border-width: thick;
    border-color: black;
    /*background-color: red;*/
    margin: 80px auto;
    width: 700px;

}




Source: http://designmodo.com/create-css3-login-form/#ixzz2j7L2wISv

td.humidity {
    background-image: url(../images/humidity.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right center;
}

td.temperature {
    background-image: url(../images/temperature.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right center;
}

td.random {
    background-image: url(../images/random.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right center;
}

td.voltage {
    background-image: url(../images/voltage.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right center;
}

.light {
    background-image: url(../images/light.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right center;
}
