.navbar-brand {
    background-image: url('/favicon.png');
    background-size: 100px;
    background-position: top;
    width: 100px;
    height: 50px
}

#edit_form, #login_form {
    max-width: 400px;
    margin: auto;
}

.alert-container {
    margin-right: 30px;
    left: 60%;
    width: 30%;
    position: absolute;
    z-index: 9000
}

.humidity {
    background-image: url(../images/humidity.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right center;
}

.temperature {
    background-image: url(../images/temperature.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right center;
}

.random {
    background-image: url(../images/random.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right center;
}

.voltage {
    background-image: url(../images/voltage.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right center;
}

.light {
    background-image: url(../images/light.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right center;
}

.computers {
    background-image: url(../images/computers.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right center;
}

td.actions {
    width: 100px;
}

/* Quick hack to get angular-ui working with bootstrap 3 */
.modal {
    display: block;
}
.modal-body:before,
.modal-body:after {
    display: table;
    content: " ";
}
.modal-header:before,
.modal-header:after {
    display: table;
    content: " ";
}

/* end of hack */

a.dropdown-toggle {
    color: black
}

a.dropdown-toggle:hover {
    text-decoration: none;
}
