.navbar-brand {
    background-image: url('/favicon.png');
    background-size: 100px;
    background-position: top;
    width: 100px;
    height: 50px
}

#login_form {
    width: 400px;
    margin: auto;
}

.alert-container {
    margin-right: 30px;
    left: 60%;
    width: 30%;
    position: absolute;
    z-index: 9000
}

td.humidity {
    background-image: url(../images/humidity.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right center;
}

td.temperature {
    background-image: url(../images/temperature.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right center;
}

td.random {
    background-image: url(../images/random.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right center;
}

td.voltage {
    background-image: url(../images/voltage.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right center;
}

td.light {
    background-image: url(../images/light.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right center;
}

td.computers {
    background-image: url(../images/computers.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right center;
}

td.actions {
    width: 100px;
}
